		<div class="card-body ">
				<div class="container-fluid">
				
    <!-- Control the column width, and how they should appear on different devices -->
					    <div class="row">
					      <div class="col-sm-4" >
					      			<h4>
				    					<label  class="col-sm-4 col-form-label">Estado causal</label>
				    				</h4>
				    	  </div>
					      <div class="col-sm-8" >
					      			<h4>	
					    					<label th:text="${causalStatusDescription}" ></label>
					    			</h4>
					      </div>
					    </div>
					    <br>
    					<div class="row">
					      <div class="col-sm-4" >
					      			<h4>
				    					<label  class="col-sm-4 col-form-label">Empresa</label>
				    				</h4>
				    	  </div>
					      <div class="col-sm-8" >
					      			<h4>	
					    					<label th:text="${companyName}" ></label>
					    			</h4>
					      </div>
					    </div>
					    <br>
						<div class="row">
					      <div class="col-sm-4" >
					      			<h4>
				    					<label  class="col-sm-4 col-form-label">Tipo</label>
				    				</h4>
				    	  </div>
					      <div class="col-sm-8" >
					      			<h4>	
					    					<label th:text="${impexpTypeDescription}" ></label>
					    			</h4>
					      </div>
					    </div>
					    <br>
						<div class="row">
					      <div class="col-sm-4" >
					      			<h4>
				    					<label  class="col-sm-4 col-form-label">Causal</label>
				    				</h4>
				    	  </div>
					      <div class="col-sm-8" >
					      			<h4>	
					    					<label th:text="${causalDescription}" ></label>
					    			</h4>
					      </div>
					    </div>

				</div>
			</div>