<div class="card mt-5">
					<!-- <div class="card-header">
						<h5>Lista de causales</h5>
					</div>
					<div id="containerAssignedCausals" class="card-body"> -->
						
						<table id="dtAssignedCausals" class="table table-bordered table-responsive " cellspacing="0" width="100%">
									<thead>
										<th class="th-sm">Num.</th>
										<th class="th-sm">Acciones</th>
										<th class="th-sm">Fr.</th>
										<th class="th-sm">O-SC-E</th>
										<th class="th-sm">Causal</th>
										<th class="th-sm">Clasificacion</th>
										<th class="th-sm">Exclusiva</th>
										<th class="th-sm">Cumplimiento</th>
				
									</thead>
									<tbody>
				
				
									</tbody>
									<tfoot>
										<th class="th-sm">Num.</th>
										<th class="th-sm">Acciones</th>
										<th class="th-sm">Fr.</th>
										<th class="th-sm">O-SC-E</th>
										<th class="th-sm">Causal</th>
										<th class="th-sm">Clasificacion</th>
										<th class="th-sm">Exclusiva</th>
										<th class="th-sm">Cumplimiento</th>
									</tfoot>
						</table>	
						
				<!-- 	</div> -->
					
</div>	
  
 

