    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      
      
        <div class="sidebar-brand-icon rotate-n-15">
        <img th:src="@{img/CuCoEx_logo_Sign.jpg}" alt="CuCoEx miniLogo" style="width: 3rem;"/>
          <!-- <i class="fas fa-laugh-wink"></i> -->
        </div>
        <div class="sidebar-brand-text mx-1">
        	<div class="sidebar-heading">
        		Cumplimiento al Comercio Exterior <sup>v1</sup>
      		</div>
         
         </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Tablero principal</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Menú
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Configuración</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Catalogos:</h6>
            <span th:if="${#authorization.expression('hasRole(''ROLE_SUPERADMIN'')')}">
    			<a class="collapse-item" href="companies">Empresas</a>
    		</span>	
            
             <a class="collapse-item" href="users">Usuarios</a>
            
            <a class="collapse-item" href="cards.html"></a>
            <h6 class="collapse-header">Sistema:</h6>
             <a class="collapse-item" href="#">Periodos de alerta</a>
            <a class="collapse-item" href="#">Notificaciones</a>
            <span th:if="${#authorization.expression('hasRole(''ROLE_SUPERADMIN'')')}">
    			<a class="collapse-item" href="/emailTest">Envio email de Prueba</a>
    		</span>	
      
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Causales y Monitor</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
          
           <h6 class="collapse-header">Causales asignadas</h6>
            <a class="collapse-item" href="assignedCausals">Causales Asignadas</a>
            
            <span th:if="${#authorization.expression('hasRole(''ROLE_SUPERADMIN'')')}">
    			<<h6 class="collapse-header">Monitor de causales</h6>
            	<a class="collapse-item" href="/runMonitor">Ejecución del monitor</a>
    		</span>	
            
           
          </div>
        </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->