<div class="card shadow mb-4">
            
            <div class="card-body">
              <div class="table-responsive">

  <!-- Start your project here-->  
  <!-- <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"> -->
  <table id="dtUser" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">#
        </th>
         <th class="th-sm">Acciones
        </th>
        <th class="th-sm">Nombre
        </th>
        <th class="th-sm">Apellido paterno
        </th>
        <th class="th-sm">Apellido materno
        </th>  
        <th class="th-sm">Correo Elec
        </th>
       
      </tr>
      
      
    </thead>
    <tbody>
     
    


      <tr th:each="user: ${userList}">
			<td th:text="${user.id}"></td>
			<td>
			
			 	<!-- <span th:if=" (${#authorization.expression('hasRole(''ROLE_SUPERADMIN'')')}) or (${#authorization.expression('hasRole(''ROLE_ADMIN'')')}) or (${#authorization.expression('hasRole(''ROLE_USER'')')} and ${#httpServletRequest.remoteUser==user.username})">
    			 -->	
    			<span th:if=" (${#authorization.expression('hasRole(''ROLE_SUPERADMIN'')')}) or (${#authorization.expression('hasRole(''ROLE_ADMIN'')')}) or ( ( ${#authorization.expression('hasRole(''ROLE_USER'')')} or ${#authorization.expression('hasRole(''ROLE_SUPERVISOR'')')} ) and ${#httpServletRequest.remoteUser==user.username})">
    			 
    			 <a href="#" th:href="@{'/editUser/'+ ${user.id}}"><i class="fas fa-edit"></i></a>
				</span>
						<!-- <a href="#" th:href="@{'/editUser/'+ ${user.id}}"><i class="fas fa-edit"></i></a> -->
					
				<span th:if="(${#authorization.expression('hasRole(''ROLE_SUPERADMIN'')')}) or (${#authorization.expression('hasRole(''ROLE_ADMIN'')')})" >
					| <a href="#" th:onclick="'javascript:confirmDelete(\''+ ${user.id} +'\');'"><i class="fas fa-user-times"></i></a>
				</span>

			</td>
			<td th:text="${user.username}"></td>
			<td th:text="${user.firstName}"></td>
			<td th:text="${user.lastName}"></td>	
			<td th:text="${user.email}"></td>
			
		</tr>
		
		
    </tbody>
    
  </table>

</div>
</div>
</div>
  
<div th:include="catUser/confirm-delete-dialog.html" th:remove="tag"></div>

<div id="deleteError" th:if="${deleteError}" class="alert alert-danger text-center" role="alert">
 	<span th:text="${deleteError}"></span>
 </div>
 
 <script type="text/javascript">
 function confirmDelete(id){
 	$('#deleteModal').modal('show');
 	$("#userIdHiddenInput").val(id);
 }

 function deleteUser(){
 	var id = $("#userIdHiddenInput").val();
     window.location = "deleteUser/"+id;
 }
 </script>


 
  <!-- End your project here-->


